/* fonts */
@font-face {
    font-family: 'Asterism';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/asterism.otf") format('truetype');
}

@font-face {
    font-family: 'Vevey';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/vevey.otf") format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/proxima-nova.ttf") format('truetype');
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
}

a {
  text-decoration: none;
  color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

#container {
  height: 100%;
  min-height: 100%;
}

/* header */
#container #header {
  width: 100%;
  height: 90px;
  background: white;
  position: fixed;
  z-index: 9999;
  box-shadow: -3px -3px 10px;
}

#container #header #header-content {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: auto;
}

#container #header #header-content #logo {
  position: fixed;
  left: 50%;
  background-image: url("../img/scallop-logo.png");
  background-repeat: no-repeat;
  height: 150px;
  width: 229px;
  margin-left: -114.5px;
  background-size: 100%;
}

#container #header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  height: 20px;
  bottom: 25px;
}

#container #header #header-content #nav1 {
  left: 0;
}

#container #header #header-content #nav2 {
  right: 0;
}

#container #header ul li {
  float: left;
  height: 100%;
  padding: 0 17px;
  font-family: "Vevey";
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

#container #header ul li:hover {
  text-decoration: underline;
}

#container #content {
  height: 100%;
  min-height: 100%;
}


/* classes n stuff */
.landing-panel {
  height: 100%;
  color: white;
  background: url("../img/landing.jpeg") no-repeat;
  background-position-y: 70px;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 70px;
}

.landing-panel .landing-text {
  position: absolute;
  top: 100px;
  right: 5%;
  width: 350px;
  border-radius: 25px;
  background: rgba(255,255,255,0.5);
  padding: 25px;
  color: black;
}

.panel {
  width: 1000px;
  margin: 40px auto;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.text-box {
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 5px grey;
}

.picture-frame {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 5px;
}

.title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Asterism";
  font-size: 60px;
}

.subtitle {
  text-align: center;
}

/* carousel stuff */
.carousel {
  width: 100%;
  height: 550px;
  position: relative;
}

.carousel .carousel-frame {
  width: 80%;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.carousel-frame ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  left: 0;
}

.carousel-frame ul li {
  float: left;
  height: 100%;
}

.carousel .next-frame,
.carousel .prev-frame {
  position: relative;
  float: left;
  height: 500px;
  width: 10%;
}

.carousel .next-frame .next,
.carousel .prev-frame .prev {
  position: absolute;
  top: 50%;
  width: 100%;
  cursor: pointer;
  font-size: 50px;
}

.carousel .prev-frame .prev {
  text-align: right;
}

.carousel .prev-frame .next {
  text-align: left;
}

.carousel .links {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.carousel .links ul {
  list-style-type: none;
  height: 50px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

.carousel .links ul li {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

/* panel-specific */
/* about */
.about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 300px;
}

.about .left-capsule,
.about .right-capsule {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 50px;
}

.about .picture {
  width: 150px;
  height: 150px;
  margin: auto;
}

.about .title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
}

.about .subtitle {
  text-align: center;
  font-size: 14px;
}

.about .logo-frame {
  height: 38.5px;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-x;
  background-position-y: 50%;
  margin-bottom: 7px;
}

.about .logo {
  height: 38.5px;
  width: 49px;
  margin: auto;
}

.about .left-capsule .logo {
  background: url("../img/feathers-keshaun.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about .right-capsule .logo {
  background: url("../img/feathers-jona.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about .jona-picture {
  background-image: url("../img/jonalyn.jpg");
  background-size: 100% 100%;
}

.about .keshaun-picture {
  background-image: url("../img/keshaun.jpg");
  background-size: 100% 100%;
}

/* proposal */
.proposal .video {
  width: 420px;
  height: 315px;
  margin: 20px auto;
}

.proposal .timeline {
  width: 100%;
  min-height: 300px;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-y;
  background-position-x: 50%;
}

.proposal .timeline .left-capsule,
.proposal .timeline .right-capsule,
.proposal .timeline .center-capsule {
  margin-top: 35px;
  margin-bottom: 35px;
}

.proposal .timeline .center-capsule {
  width: 50%;
  margin: auto;
  background: white;
}

.proposal .timeline .center-capsule .text {
  text-align: center;
}

.proposal .timeline .center-capsule .image {
}

.proposal .timeline .center-capsule .image img {
  width: 100%;
}

.proposal .timeline .left-capsule {
  background: url("../img/proposal-textbg-left.png") no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  margin-right: 50%;
}

.proposal .timeline .right-capsule {
  background: url("../img/proposal-textbg-right.png") no-repeat;
  background-position-y: 50%;
  margin-left: 50%;
}

.proposal .timeline .right-capsule .text-box {
  background: url("../img/feathers-jona.png") no-repeat;
  background-position: 2% 5px;
  background-size: 38.5px;
}

.proposal .timeline .right-capsule .text-box {
  border-radius: 25px;
  box-sizing: border-box;
  padding-left: 60px;
  margin-left: 50px;
}

.proposal .timeline .left-capsule .text-box {
  background: url("../img/feathers-keshaun.png") no-repeat;
  background-position: 98% 5px;
  background-size: 38.5px;
}

.proposal .timeline .left-capsule .text-box {
  border-radius: 25px;
  box-sizing: border-box;
  padding-left: 10px;
  margin-right: 50px;
}

/* photos */
.photos .carousel li {
  box-sizing: border-box;
}

.photos .image-frame {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}

.photos .image img {
  width: 100%;
}

/* details */
.details .capsule {
  width: 500px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.details .capsule .label {
  width: 70px;
  position: absolute;
  right: 0;
  top: 15px;
  background: #f06680;
  color: white;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px grey;
}

/* bridesmaids + groomsmen */
.bridesmaids .bridesmaid-image,
.groomsmen .groomsman-image {
  float: left;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .bridesmaid-image img,
.groomsmen .groomsman-image img {
  width: 100%;
}

.bridesmaids .bridesmaid-desc,
.groomsmen .groomsman-desc {
  float: right;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .bridesmaid-desc .text-box,
.groomsmen .groomsman-desc .text-box {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .title,
.groomsmen .title {
  box-sizing: border-box;
  padding: 0;
}

.bridesmaids .logo-frame,
.groomsmen .logo-frame {
  height: 38.5px;
  width: 50%;
  margin: auto;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-x;
  background-position-y: 50%;
  margin-bottom: 7px;
}

.bridesmaids .logo {
  background-image: url("../img/feathers-jona.png");
  background-size: 100%;
  height: 38.5px;
  width: 49px;
  margin: auto;
}

.groomsmen .logo {
  background-image: url("../img/feathers-keshaun.png");
  background-size: 100%;
  height: 38.5px;
  width: 49px;
  margin: auto;
}

.bridesmaids .title .name,
.groomsmen .title .name {
  font-family: "Vevey";
  font-size: 30px;
  margin: 0;
  line-height: 1;
}

.bridesmaids .title .part,
.groomsmen .title .part {
  font-size: 20px;
  margin: 0;
}

.bridesmaids .bridesmaid-image,
.groomsmen .groomsman-image {
  background-size: 90%;
  background-position: 50% 50%;
}

.groomsman1 {
  background: url("../img/groomsman1.jpg") no-repeat;
}
