html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  min-height: 100%;
}

/* header */
#container #header {
  width: 100%;
  height: 70px;
  background: white;
  position: fixed;
  z-index: 9999;
}

#container #header #header-content {
  position: relative;
  width: 1000px;
  height: 70px;
  margin: auto;
}

#container #header #header-content #logo {
  position: fixed;
  left: 46%;
  background-image: url("../img/logo-small.png");
  height: 100px;
  width: 128px;
}

#container #header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  height: 20px;
  bottom: 25px;
}

#container #header #header-content #nav1 {
  left: 0;
}

#container #header #header-content #nav2 {
  right: 0;
}

#container #header ul li {
  float: left;
  height: 100%;
  padding: 0 25px 0 25px;
}

#container #content {
  height: 100%;
  min-height: 100%;
}


/* classes n stuff */
.landing-panel {
  height: 100%;
  color: white;
  background: url("../img/landing.jpeg") no-repeat;
  background-position-y: 70px;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 70px;
}

.landing-panel .landing-text {
  position: absolute;
  top: 100px;
  right: 5%;
  width: 350px;
  border-radius: 25px;
  background: rgba(255,255,255,0.5);
  padding: 25px;
  color: black;
}

.panel {
  width: 1000px;
  margin: 40px auto;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.text-box {
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid;
  padding: 8px;
}

.title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* carousel stuff */
.carousel {
  width: 100%;
  height: 550px;
  position: relative;
}

.carousel .carousel-frame {
  width: 80%;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.carousel-frame ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  left: 0;
}

.carousel-frame ul li {
  float: left;
  height: 100%;
}

.carousel .next-frame,
.carousel .prev-frame {
  position: relative;
  float: left;
  height: 500px;
  width: 10%;
}

.carousel .next-frame .next,
.carousel .prev-frame .prev {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.carousel .links {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.carousel .links ul {
  list-style-type: none;
  height: 50px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  box-sizing: border-box
}

.carousel .links ul li {
  float: left;
  width: 30px;
  cursor: pointer;
  position: relative;
}

/* panel-specific */
/* about */
.about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 300px;
}

.about .left-capsule,
.about .right-capsule {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

.about div {
  margin-bottom: 7px;
}

.about .picture {
  width: 100px;
  height: 100px;
  margin: auto;
}

.about .title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.about .subtitle {
  text-align: center;
}

.about .logo-frame {
  height: 77px;
  background: url("../img/proposal-bg.png") repeat-x;
  background-position-y: 50%;
}

.about .logo {
  height: 100%;
  width: 98px;
  margin: auto;
}

.about .left-capsule .logo {
  background: url("../img/feathers-keshaun.png") no-repeat;
  background-size: 100% 100%;
}

.about .right-capsule .logo {
  background: url("../img/feathers-jona.png") no-repeat;
  background-size: 100% 100%;
}

.about .jona-picture {
  background: url("../img/jonalyn.jpg");
  background-size: 100% 100%;
}

.about .keshaun-picture {
  background: url("../img/keshaun.jpg");
  background-size: 100% 100%;
}

/* proposal */
.proposal .video {
  width: 420px;
  height: 315px;
  margin: 20px auto;
}

.proposal .timeline {
  width: 100%;
  min-height: 300px;
  background: url("../img/proposal-bg.png") repeat-y;
  background-position-x: 50%;
}

.proposal .timeline .right-capsule,
.proposal .timeline .left-capsule {

}

.proposal .timeline .left-capsule {
  background: url("../img/proposal-textbg-left.png") no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  margin-right: 50%;
}

.proposal .timeline .right-capsule {
  background: url("../img/proposal-textbg-right.png") no-repeat;
  background-position-y: 50%;
  margin-left: 50%;
}

.proposal .timeline .right-capsule .text-box {
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid;
  padding-left: 10px;
  margin-left: 50px;
}

.proposal .timeline .left-capsule .text-box {
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid;
  padding-left: 10px;
  margin-right: 50px;
}

/* bridesmaids + groomsmen */
.bridesmaids .bridesmaid-image,
.groomsmen .groomsman-image {
  float: left;
  width: 40%;
  height: 100%;
}

.bridesmaids .bridesmaid-desc,
.groomsmen .groomsman-desc {
  float: right;
  width: 60%;
  height: 100%;
  padding: 15px;
}
