/* fonts */
@font-face {
    font-family: 'Asterism';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/asterism.otf") format('truetype');
}

@font-face {
    font-family: 'Vevey';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/vevey.otf") format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/proxima-nova.ttf") format('truetype');
}

@media only screen and (max-device-width : 680px) {
  font-size: 14px;
}

.panel {
  width: 1000px;
}

#container #header #header-content {
  width: 1000px;
}

.bridesmaids .title .name,
.groomsmen .title .name {
  font-size: 30px;
}

.bridesmaids .title .part,
.groomsmen .title .part {
  font-size: 20px;
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
}

a {
  color: #f06680;
  text-decoration: none;
  font-style: italic;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}
 

a.nav, a.nav:hover {
  text-decoration: none;
  color: black;
  font-style: normal;
}


a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

#container {
  height: 100%;
  min-height: 100%;
}

/* header */
#container #header {
  width: 100%;
  height: 90px;
  background: white;
  position: fixed;
  z-index: 9999;
  box-shadow: -3px -3px 10px;
}

#container #header #header-content {
  position: relative;
  height: 100%;
  margin: auto;
}

#container #header #header-content #logo {
  position: fixed;
  left: 50%;
  background-image: url("../img/scallop-logo.png");
  background-repeat: no-repeat;
  height: 150px;
  width: 229px;
  margin-left: -114.5px;
  background-size: 100%;
}

#container #header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  height: 20px;
  bottom: 25px;
}

#container #header #header-content #nav1 {
  left: 0;
}

#container #header #header-content #nav2 {
  right: 0;
}

#container #header ul li {
  float: left;
  height: 100%;
  padding: 0 17px;
  font-family: "Vevey";
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

#container #header ul li:hover span {
  border-bottom: 2px solid #f06680;
}

#container #content {
  height: 100%;
  min-height: 100%;
}


/* classes n stuff */
.landing-panel {
  position: relative;
  height: 100%;
  min-width: 1000px;
  color: white;
  background: url("../img/landing.jpg") no-repeat;
  background-position: 0 90px;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 90px;
}

.landing-panel .landing-text {
  position: absolute;
  top: 100px;
  right: 5%;
  width: 250px;
  border-radius: 25px;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.panel {
  margin: 40px auto;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.text-box {
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 5px grey;
}

.picture-frame {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 5px;
}

.title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Asterism";
  font-size: 60px;
}

.subtitle {
  text-align: center;
}

/* carousel stuff */
.carousel {
  width: 100%;
  height: 550px;
  position: relative;
}

.carousel .carousel-frame {
  width: 80%;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.carousel-frame ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  left: 0;
}

.carousel-frame ul li {
  float: left;
  height: 100%;
}

.carousel .next-frame,
.carousel .prev-frame {
  position: relative;
  float: left;
  height: 100%;
  width: 10%;
}

.carousel .next-frame .next,
.carousel .prev-frame .prev {
  position: absolute;
  top: 50%;
  width: 100%;
  cursor: pointer;
  font-size: 50px;
}

.carousel .prev-frame .prev {
  text-align: right;
}

.carousel .prev-frame .next {
  text-align: left;
}

.carousel .links {
  clear: both;
  height: 50px;
  width: 100%;
}

.carousel .links ul {
  width: initial;
  list-style-type: none;
  height: 50px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

.carousel .links ul li {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.carousel .links ul li.selected {
  background: #f06680;
}

/* panel-specific */
/* about */
.about {
  overflow: auto;
}

.about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.about ul li {
  height: 100%;
}

.about .left-capsule,
.about .right-capsule {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
  font-style: italic;
}

.about .left-capsule .text-box,
.about .right-capsule .text-box {
  padding: 20px
}

.about .picture {
  width: 150px;
  height: 150px;
  margin: auto;
}

.about .title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
}

.about .subtitle {
  text-align: center;
  font-size: 14px;
}

.about .logo-frame {
  height: 38.5px;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
  margin: 0 auto 7px auto;
  width: 50%;
}

.about .logo {
  height: 38.5px;
  width: 56.5px;
  margin: auto;
}

.about .left-capsule .logo {
  background: url("../img/feathers-keshaun.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about .right-capsule .logo {
  background: url("../img/feathers-jona.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about .jona-picture {
  background-image: url("../img/jonalyn.jpg");
  background-size: 100% 100%;
}

.about .keshaun-picture {
  background-image: url("../img/keshaun.jpg");
  background-size: 100% 100%;
}

/* proposal */
.proposal .video-frame {
  width: 75%;
  margin: 0 auto 10px auto;
}

.proposal .video {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.proposal .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.proposal .timeline {
  width: 100%;
  min-height: 300px;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-y;
  background-position: 50%;
}

.proposal .subtitle h3 {
  font-weight: normal;
}

.proposal .timeline .left-capsule,
.proposal .timeline .right-capsule {
  font-style: italic;
}

.proposal .timeline .left-capsule,
.proposal .timeline .right-capsule,
.proposal .timeline .center-capsule {
  margin-top: 35px;
  margin-bottom: 35px;
}

.proposal .timeline .center-capsule {
  width: 50%;
  margin: auto;
  background: white;
  font-size: 40px;
}

.proposal .timeline .center-capsule .text {
  text-align: center;
  font-family: "Vevey";
}

.proposal .timeline .center-capsule .image img {
  width: 100%;
}

.proposal .timeline .left-capsule {
  background: url("../img/proposal-textbg-left.png") no-repeat;
  background-position: 100% 50%;
  margin-right: 50%;
}

.proposal .timeline .right-capsule {
  background: url("../img/proposal-textbg-right.png") no-repeat;
  background-position: 0 50%;
  margin-left: 50%;
}

.proposal .timeline .right-capsule .text-box {
  background: url("../img/feathers-jona.png") no-repeat;
  background-position: 2% 5px;
  background-size: 38.5px;
}

.proposal .timeline .right-capsule .text-box,
.proposal .timeline .left-capsule .text-box {
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px 20px 20px 40px;
}

.proposal .timeline .right-capsule .text-box {
  margin-left: 50px;
}

.proposal .timeline .left-capsule .text-box {
  margin-right: 50px;
}

.proposal .timeline .left-capsule .text-box {
  background: url("../img/feathers-keshaun.png") no-repeat;
  background-position: 2% 5px;
  background-size: 38.5px;
}


/* photos */
.photos .carousel li {
  box-sizing: border-box;
}

.photos .carousel {
  height: 575px;
}

.photos .carousel .credit {
  clear: both;
  text-align: center;
}

.photos .image-frame {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}

.photos .image img {
  width: 100%;
}

/* details */
.details .capsule {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.details .subtitle a {
  color: #f06680;
}

.details .capsule .label {
  width: 100%;
  position: absolute;
  right: 0;
  top: 25px;
  background: #f06680;
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: "Vevey";
  text-transform: uppercase;
  box-shadow: 1px 1px 3px grey;
}

.details .capsule .text-box {
  padding: 65px 20px 20px 20px;
  text-align: center
}

.details .capsule .text-box.where-box {
  padding: 280px 20px 20px 20px;
  background-image: url("../img/rixey.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.where-box .where-title {
  margin: 0;
  padding: 0;
  font-family: "Asterism";
  font-size: 50px;
}

.where-box .where-subtitle {
  margin: 0;
  padding: 0;
  font-family: "Vevey";
  font-size: 25px;
  letter-spacing: 1.5;
}

.where-box .rixey-link {
  text-align: right;
}

.details .capsule .how-box h3 {
  font-family: "Vevey";
  font-size: 30px;
  margin: 0;
}

.details .capsule .how-box .header {
  font-family: "Vevey";
  font-size: 30px;
  margin: auto;
  clear: both;
}

.details .capsule .how-box .divider {
  height: 38.5px;
  width: 50%;
  margin: 15px auto;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.details .capsule .how-box .divider .feather {
  background-image: url("../img/black-feather.png");
  background-size: 100%;
  height: 38.5px;
  width: 56.5px;
  margin: auto;
}

.details .map {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
}

.details .map .map-label {
  margin-bottom: 5px;
}

.details .map1 {
  width: 60%;
  margin: auto;
}

.details .half-map1 {
  float: left;
  width: 45%;
}

.details .half-map2 {
  float: right;
  width: 45%;
}

.details .map img {
  width: 100%; 
}

/* bridesmaids + groomsmen */
.bridesmaids .bridesmaid-image,
.groomsmen .groomsman-image {
  float: left;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .bridesmaid-image img,
.groomsmen .groomsman-image img {
  width: 100%;
}

.bridesmaids .bridesmaid-desc,
.groomsmen .groomsman-desc {
  float: right;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .bridesmaid-desc .text-box,
.groomsmen .groomsman-desc .text-box {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.bridesmaids .title,
.groomsmen .title {
  box-sizing: border-box;
  padding: 0;
}

.bridesmaids .logo-frame,
.groomsmen .logo-frame {
  height: 38.5px;
  width: 35%;
  margin: auto;
  background-image: url("../img/proposal-bg.png");
  background-repeat: repeat-x;
  background-position: 0 50%;
  margin-bottom: 7px;
}

.bridesmaids .logo {
  background-image: url("../img/feathers-jona.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 38.5px;
  width: 56.5px;
  margin: auto;
}

.groomsmen .logo {
  background-image: url("../img/feathers-keshaun.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 38.5px;
  width: 56.5px;
  margin: auto;
}

.bridesmaids .title .name,
.groomsmen .title .name {
  font-family: "Vevey";
  margin: 0;
  line-height: 1;
}

.bridesmaids .title .part,
.groomsmen .title .part {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-style: italic;
  border-bottom: 1px solid black;
}

.bridesmaids .text,
.groomsmen .text {
  font-style: italic;
}

.bridesmaids .bridesmaid-image,
.groomsmen .groomsman-image {
  background-size: 90%;
  background-position: 50% 50%;
}

.groomsman1 {
  background: url("../img/groomsman1.jpg") no-repeat;
}

.groomsman2 {
  background: url("../img/groomsman2.jpg") no-repeat;
}

.groomsman3 {
  background: url("../img/groomsman3.jpg") no-repeat;
}

.groomsman4 {
  background: url("../img/groomsman4.jpg") no-repeat;
}

.bridesmaid1 {
  background: url("../img/bridesmaid1.jpg") no-repeat;
}

.bridesmaid2 {
  background: url("../img/bridesmaid2.jpg") no-repeat;
}

.bridesmaid3 {
  background: url("../img/bridesmaid3.jpg") no-repeat;
}

.bridesmaid4 {
  background: url("../img/bridesmaid4.jpg") no-repeat;
}

.registry .text-box {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.registry img {
  width: 100%;
}

.registry .text-box .cursive {
  font-family: "Asterism";
  font-size: 30px;
}

.registry .text-box .cursive.header {
  font-size: 45px;
}
